###############
##
## Configuration File for NetScaler OTP solution
## Archivo de configuración de Netscaler OTP
## evil.dani@gmail.com
## utlima versión disponible/ latest avaliable at:
## https://github.com/evildani/OTP_NetScaler
##
###############
tmov_ldap_uri=ldaps://10.204.160.10
tmov_ldap_username=
tmov_ldap_password=
tasa_ldap_uri=ldaps://10.249.20.161
tasa_ldap_username=
tasa_ldap_password=